In [79]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from statsmodels.stats import weightstats as stests
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind
import matplotlib.pyplot as plt
import math
import researchpy as rp
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import chi2_contingency

This data set was imported from the IBM Watson repository.

In [9]:
df = pd.read_csv(r"D:\Users\sandilya_garimella\Documents\Sandilya\DataSets\WA_Fn-UseC_-Marketing-Campaign-Plan_-GroceryS.csv")

In [10]:
df.head()

,storeid,HealthyStore,StoreSize,StoreLayout,customerID,gender,WhoShoppingFor,Vegetarian,ShoppingStyle,CouponUser,week,CouponSequence,CarryOver,CouponValue,AmountSpent
0,1,Regular store,Medium,No emphasis,6193-QDKCN,Male,Self and spouse,No,Often; what's on sale,From newspaper,1,"2,4,1,3",0,05 percent,135.24
1,1,Regular store,Medium,No emphasis,6193-QDKCN,Male,Self and spouse,No,Often; what's on sale,From newspaper,2,"2,4,1,3",2,25 percent,128.65
2,1,Regular store,Medium,No emphasis,6193-QDKCN,Male,Self and spouse,No,Often; what's on sale,From newspaper,3,"2,4,1,3",4,00 No value,112.86
3,1,Regular store,Medium,No emphasis,6193-QDKCN,Male,Self and spouse,No,Often; what's on sale,From newspaper,4,"2,4,1,3",1,15 percent,130.14
4,1,Regular store,Medium,No emphasis,9245-DEZSB,Male,Self and family,No,Weekly; similar items,From mailings,1,"4,3,2,1",0,25 percent,155.61

In [17]:
df.columns

Index(['storeid', 'HealthyStore', 'StoreSize', 'StoreLayout', 'customerID',
       'gender', 'WhoShoppingFor', 'Vegetarian', 'ShoppingStyle', 'CouponUser',
       'week', 'CouponSequence', 'CarryOver', 'CouponValue', 'AmountSpent'],
      dtype='object')

POPULATION VS SAMPLE

Population:
Population is the entire data from which we would like to draw conclusions.

Sample:
Sample is the specific amount of data taken from the entire data and from this specific data, conclusions are drawn.

Reasons for Sampling:
1) It is impossible to study/draw conclusions from the whole population due to its size.
2) It is much easier and more efficient to collect data from samples rather than the whole population.
3) It is cost efficient. Since storing and running analysis on smaller amount of data is much easier.

When the population size is relatively small, we can study and draw analyses from the population itself.

### CONFIDENCE INTERVAL:

Confidence Interval is the range of value in which our true value will be present.
Formula : X  ±  Z *(s/√n)

Large Sample: A sample is considered to be a large sample if the sample size is greater than or equal to 30.(n>=30)

1) 1-sample Z test :

We perform a 1-sample Z test when the population Standard Deviation is known to us or the sample is a large sample. 
1-sample Z test is used to compare sample mean vs population mean.

Formula:
z = (x — μ) / (σ / √n)

Here, using the 1-sample z test, we are comparing if the mean of our sample is equal to or not equal to the population mean.

In [13]:
df.groupby('gender').mean()

          storeid  week  CarryOver  AmountSpent
gender
Female  28.475309   2.5   1.871914   117.955247
Male    30.037736   2.5   1.870283   118.907134

Performing the test to check if sample mean of the amount spent by Male is equal to the population or not.

In [51]:
ztest,pval = stests.ztest(df['AmountSpent'][df['gender'] == 'Male'], x2=None, value=118.9)
print("Z value: ",round(float(ztest),2))
print("P value: ",round(float(pval),4))
if pval<0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Z value:  0.0
P value:  0.9968
Accept null hypothesis

Performing the test to check if sample mean of the amount spent by Female is equal to the population or not.

In [39]:
ztest,pval = stests.ztest(df['AmountSpent'][df['gender'] == 'Female'], x2=None, value=117.9)
print("Z value: ",round(float(ztest),2))
print("P value: ",round(float(pval),4))
if pval<0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Z value:  0.02
P value:  0.9809
Accept null hypothesis

2) 2-sample Z test:

We perform a 2-sample Z test when the Standard Deviation of the population is known to us.
2-sample Z test is used to compare whether means of two unknown populations are statistically different.

Formula:
z = (x1 — x2) / (σ / √n1 + σ / √n2)

Here we check if the sample mean of amount spent by Male is equal to or not equal to sample mean of Female.

In [47]:
ztest ,pval = stests.ztest(df['AmountSpent'][df['gender'] == 'Male'], x2=df['AmountSpent'][df['gender'] == 'Female'], value=0,alternative='two-sided')
print("Z value: ",ztest)
print("P value: ",pval)
if pval<0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Z value:  0.3304137087451998
P value:  0.7410873845775992
Accept null hypothesis

3) 1-sample t test

We perform a 1-sample t test when the population Standard Deviation is not known to us or if the sample size is less.
1-sample t test is used to compare sample mean vs population mean.

Formula:
t = (x — μ) / (σ / √n)

Performing the test to check if sample mean of the amount spent by Male is equal to the population or not.

In [53]:
tscore,pval=ttest_1samp(df['AmountSpent'][df['gender'] == 'Male'], popmean=118.9)
print("t value: ",tscore)
print("P value: ",pval)
if pval<0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

t value:  0.003958235384277636
P value:  0.9968427253920955
Accept null hypothesis

Performing the test to check if sample mean of the amount spent by Female is equal to the population or not.

In [66]:
tscore,pval=ttest_1samp(df['AmountSpent'][df['gender'] == 'Female'], popmean=117.9)
print("t value: ",tscore)
print("P value: ",pval)
if pval<0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

t value:  0.02400282073029227
P value:  0.9808577595445628
Accept null hypothesis

4) 2-sample t test:

We perform a 2-sample t test when the Standard Deviation of the population is not known to us or if the sample size is less.
2-sample t test is used to compare whether means of two unknown populations are statistically different.

Formula:
t = (x1 — x2) / (σ / √n1 + σ / √n2)

In [57]:
t,p=ttest_ind(df['AmountSpent'][df['gender'] == 'Male'], df['AmountSpent'][df['gender'] == 'Female'], equal_var=False)
print("t value: ",t)
print("P value: ",p)
if pval<0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

t value:  0.3256053786925406
P value:  0.744775017845013
Accept null hypothesis

5) ANOVA(Analysis of Variance):

It is a statistical tool to split the variablity to know which component plays the important role.
We perform ANOVA when we have to compare whether the means of three or more populations are statistically different.

In [58]:
df.columns

Index(['storeid', 'HealthyStore', 'StoreSize', 'StoreLayout', 'customerID',
       'gender', 'WhoShoppingFor', 'Vegetarian', 'ShoppingStyle', 'CouponUser',
       'week', 'CouponSequence', 'CarryOver', 'CouponValue', 'AmountSpent'],
      dtype='object')

In [59]:
df['WhoShoppingFor'].unique()

array(['Self and spouse', 'Self and family', 'Self'], dtype=object)

In [87]:
from scipy.stats import f_oneway
self = df[df['WhoShoppingFor'] == 'Self']
ss = df[df['WhoShoppingFor'] == 'Self and spouse']
sf = df[df['WhoShoppingFor'] == 'Self and family']
statistic, P_val = f_oneway(self['AmountSpent'], ss['AmountSpent'], sf['AmountSpent'])
print("F value: ",round(float(statistic),2))
print("P value: ",round(float(P_val),4))
if P_val<0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

F value:  85.19
P value:  0.0
Reject null hypothesis

In [86]:
P_val

9.236386881258388e-36

In [70]:
rp.summary_cont(df['AmountSpent'])

      Variable       N      Mean       SD      SE  95% Conf.  Interval
0  AmountSpent  1496.0  118.4948  55.1973  1.4271   115.6955  121.2941

In [71]:
rp.summary_cont(df['AmountSpent'].groupby(df['WhoShoppingFor']))

                   N      Mean       SD      SE  95% Conf.  Interval
WhoShoppingFor
Self             608  100.5583  40.9669  1.6614    97.2954  103.8211
Self and family  348  146.2495  70.7162  3.7908   138.7937  153.7053
Self and spouse  540  120.8037  49.7551  2.1411   116.5977  125.0096

The three means are numerically different. 
ANOVA to check whether they are statistically different

In [73]:
model = ols('AmountSpent ~ C(WhoShoppingFor)', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=2)
aov_table

                         sum_sq      df          F        PR(>F)
C(WhoShoppingFor)  4.665562e+05     2.0  85.190021  9.236387e-36
Residual           4.088322e+06  1493.0        NaN           NaN

p value is very close to 0 so the H0 is rejected. They are statistically different.

CHI-SQUARE tests:

A chi-square test can be used to test if the variance of a population is equal to a specified value.

In [77]:
ct1 = pd.crosstab(df['HealthyStore'], 
df['gender'], 
margins = False) 
print(ct1)

gender                         Female  Male
HealthyStore
Marketed as health food store      44    44
Regular store                     604   804

In [80]:
chi2_contingency(ct1)

(1.4245672006027255,
 0.23265312464728538,
 1,
 array([[ 38.11764706,  49.88235294],
        [609.88235294, 798.11764706]]))

In [81]:
## Chi-square statistics = 1.424

## P value is 0.23 (the Ho is NOT rejected .... there is no association between gender & type of store)

## Degrees of freedom = 1  [ (2-1) * (2-1)]... two categories of stores & two categories of gender

In [82]:
ct2 = pd.crosstab(df['StoreSize'], 
df['WhoShoppingFor'], 
margins = False) 
print(ct2)

WhoShoppingFor  Self  Self and family  Self and spouse
StoreSize
Large            340              168              300
Medium           196              108              132
Small             72               72              108

In [83]:
chi2_contingency(ct2)

(24.561554955794335,
 6.162396070691176e-05,
 4,
 array([[328.38502674, 187.95721925, 291.65775401],
        [177.19786096, 101.42245989, 157.37967914],
        [102.4171123 ,  58.62032086,  90.96256684]]))

In [84]:
## Chi-square statistics = 24.56

## P value is 0.000006 (the Ho is rejected .... there is association between store size & who shoping for)

## Degrees of freedom = 4 [ (3-1) * (3-1)]