In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\sandilya_garimella\Documents\Sandilya\Training(21.12.020-21.01.2021)\DataSets\Real estate valuation data set.csv")

In [6]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [9]:
df.iloc[0,2]

32.0

In [26]:
df["X1 transaction date"].unique()

array([2012.917, 2013.583, 2013.5  , 2012.833, 2012.667, 2013.417,
       2013.083, 2013.333, 2013.25 , 2012.75 , 2013.   , 2013.167])

In [10]:
df = df.replace(0,np.NaN)

In [8]:
df.isnull().sum()

No                                         0
X1 transaction date                        0
X2 house age                              17
X3 distance to the nearest MRT station     0
X4 number of convenience stores           67
X5 latitude                                0
X6 longitude                               0
Y house price of unit area                 0
dtype: int64

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.3.9)

In [2]:
import pandas
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("salesforcepardot:///?ApiVersion=4&;User=YourUsername&Password=YourPassword&UserKey=YourUserKey")
df = pandas.read_sql("SELECT Id, Email FROM Prospects WHERE ProspectAccountId = '703'", engine)
 
df.plot(kind="bar", x="Id", y="Email")
plt.show()

In [2]:
def fn():
    for x in range(22,23,24):
        print(x)

In [4]:
fn()

22

In [12]:
[1]+[2,3]

[1, 2, 3]